.private {
    flex-direction: column;
    gap: 21px;
    padding: 14px;
}

.form {
    flex-direction: column;
    gap: 21px;
    width: 300px;
}

.buttons {
    flex-direction: row;
    gap: 14px;
}
