@import '../../styles/mediaQueries.scss';

.signInPage {
    background-color: #fffc;
    border-radius: var(--radius);
    backdrop-filter: blur(4px);
    box-shadow: #ddd 0 0 21px 0px;
    margin: 0 auto;
    max-width: 600px;
    padding: 63px 35px 35px;
    transition: all 0.25s;
    width: 100%;
    z-index: 10;
}

.background {
    background: linear-gradient(25deg, #eee, #f4f4f4);
    z-index: 0;
}

@include tablet {
    .background {
        align-items: flex-start;
        background: #fff;
        top: var(--layout-navbar-height);
    }

    .signInPage {
        background-color: transparent;
        box-shadow: none;
        max-width: none;
        padding: 14px;
    }
}
