.button {
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--radius);
    color: #fff;
    cursor: pointer;
    flex-direction: row;
    font-size: 14px;
    gap: 14px;
    height: var(--button-height);
    overflow: hidden;
    padding-inline: 17px;
    position: relative;

    > i {
        font-size: 1.2em;
    }

    &::before {
        background-color: #fff4;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition: all 0.25s;
        width: 100%;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }

    &:active {
        &::before {
            opacity: 0.5;
        }
    }
}

.bag {
    align-items: center;
    background-color: #fffa;
    border-radius: 50%;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
    font-weight: bold;
    height: 20px;
    justify-content: center;
    padding: 0 0 1px 0;
    width: 20px;
}

.disabled {
    pointer-events: none;
    filter: grayscale(1);
}

@keyframes rotate {
    100% {
        rotate: -360deg;
    }
}

.loading {
    color: #fff;
    cursor: not-allowed;
    justify-content: center;
    height: var(--button-height);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    > i {
        animation: rotate 2s infinite linear;
        font-size: 1.4em;
    }
}

.loadingState {
    filter: invert(1) grayscale(1);

    > i {
        opacity: 0;
    }

    > .insideButton {
        opacity: 0;
    }
}

.insideButton {
    flex-direction: row;
    flex-grow: 1;
    pointer-events: none;
}

.secondary {
    background-color: #1111;
    color: #333;

    &::before {
        background-color: #1111;
    }

    .loading {
        color: #333;
    }

    .bag {
        background-color: #1112;
        color: #333;
    }
}

.ghost {
    background-color: transparent;
    color: #333;

    &::before {
        background-color: #1111;
    }

    .loading {
        color: #333;
    }

    .bag {
        background-color: #1112;
        color: #333;
    }
}
