.muscleGroup {
    label {
        z-index: 10;
    }
}

.muscleGroupButtons {
    border: none !important;
    flex-grow: 1;

    > button {
        min-width: 120px;

        > div {
            justify-content: center;
        }
    }
}
