.fieldChoices {
    label {
        z-index: 10;
    }
}

.fieldChoicesButtons {
    border: none !important;
    flex-grow: 1;

    > button {
        min-width: 120px;
    }

    &.HORIZONTAL {
        flex-direction: row;
    }

    &.VERTICAL {
        flex-direction: column;
    }

    &.LEFT {
        > button {
            > div {
                justify-content: flex-start;
            }
        }
    }

    &.CENTER {
        > button {
            > div {
                justify-content: center;
            }
        }
    }

    &.RIGHT {
        > button {
            > div {
                justify-content: flex-end;
            }
        }
    }
}
