.card {
    background-color: #f8f8f8;
    border-radius: var(--radius);
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
    padding: 14px;

    &.selecting {
        * {
            pointer-events: none !important;
        }
    }

    .content {
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 14px;

        .emptyDrop {
            align-items: center;
            color: var(--primary-color-8);
            font-size: 1.2em;
            height: 240px;
            justify-content: center;
            width: 100%;
        }
    }
}

.fade {
    opacity: 0.3;
}

.weekdays {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;

    .weekday {
        background-color: #fff;
        border-radius: var(--radius);
        box-shadow: #ccc 0 0 4px;
        flex-direction: row;
        flex-grow: 1;
        min-height: 140px;
        user-select: none;
        width: 300px;
        max-width: 500px;

        > h3 {
            background-color: var(--primary-color-2);
            border-radius: 0 var(--radius) var(--radius) 0;
            font-size: 1em;
            padding: 14px;
            rotate: 180deg;
            text-align: center;
            writing-mode: vertical-lr;
        }

        &.currentWeekday {
            background-color: var(--primary-color-2);

            > h3 {
                background-color: var(--primary-color);
                color: #fff;
            }
        }

        > div {
            width: 100%;
        }
    }
}

.fakeCard {
    align-items: center;
    border-radius: var(--radius);
    color: var(--primary-color-8);
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

.trainingCardContainer {
    > div {
        border-radius: 0 var(--radius) var(--radius) 0;

        &::before {
            border-radius: 0 var(--radius) var(--radius) 0;
        }
    }
}
