.contentInside {
    background-color: #eee;
    border-radius: var(--radius);
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
    padding: 14px;
    position: relative;
    width: 100%;

    &.selecting {
        * {
            pointer-events: none !important;
        }
    }
}

.noTrainingFound {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 200px;
    justify-content: center;
    opacity: 0.5;
    text-align: center;
    width: 100%;
}

.statusSection {
    align-items: flex-start;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 14px;
}

.week {
    align-self: flex-start;
    flex-direction: column;
    gap: 14px;
    position: sticky;

    h1 {
        margin-bottom: -14px;
    }
}

.weekdays {
    align-self: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
}

.fakeCard {
    align-items: center;
    background: linear-gradient(135deg, #1112, #1111);
    border-radius: var(--radius);
    flex-grow: 1;
    justify-content: center;
    opacity: 1;
    width: 240px;

    > button {
        background-color: transparent;
        color: #0006;
    }
}

.fakeCardCurrentWeekday {
    > button {
        color: #fff;
    }
}

.weekday {
    align-items: center;
    background-color: #eee;
    border-radius: var(--radius);
    flex-direction: column;
    gap: 14px;
    padding: 14px;
    user-select: none;
    flex-grow: 1;
    width: 300px;

    > h3 {
        font-size: 1em;
        transition: all 0.25s;
    }

    > p {
        color: #aaa;
        min-height: 60px;
        min-width: 60px;
        transition: all 0.25s;
    }
}

.trainingCardContainer {
    height: 100%;
}

.currentWeekday {
    background-color: var(--primary-color);

    > h3 {
        color: #fff;

        span {
            color: #000;
        }
    }
}
