.trainingCard {
    background-color: #fff;
    background-position: center;
    background-size: cover;
    border-radius: var(--radius);
    flex-direction: column;
    height: 240px;
    justify-content: space-between;
    position: relative;
    transition: all 0.25s;
    width: 240px;

    &::before {
        background-color: #1119;
        border-radius: var(--radius);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: all 0.25s;
        width: 100%;
    }

    &:hover {
        border-color: #aaa;
        box-shadow: #999 0 0 14px;

        &::before {
            background-color: #111c;
            backdrop-filter: blur(10px);
        }
    }

    &.COMPLETED,
    &.ARCHIVED {
        filter: grayscale(1);
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}

.muscleGroupPicture {
    flex-direction: row;
    flex-grow: 1;
    height: 100px;
    position: relative;
    transition: all 0.25s;
    width: 100%;

    h3 {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding: 7px 7px 0;
        width: 100%;
        z-index: 1;

        > a {
            color: #fff;
        }
    }
}

.content {
    background-color: #fff9;
    backdrop-filter: blur(4px);
    border-radius: var(--radius);
    flex-direction: column;
    gap: 7px;
    justify-content: flex-end;
    margin: 7px;
    padding: 7px;
    transition: all 0.25s;
    z-index: 1;

    button {
        justify-content: center;
    }
}

.description {
    flex-direction: column;
}

.labels {
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4px 7px;
    justify-content: flex-start;

    > span {
        font-size: 0.6em;
        text-align: center;
    }
}

.buttons {
    flex-direction: row;
    gap: 7px;
    padding: 14px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.25s;
    z-index: 2;

    button {
        background-color: transparent;
        border-radius: var(--radius);
        color: #fff;
        gap: 7px;
        height: auto;
        padding: 4px;
        transition: all 0.25s;

        > div {
            display: none;
        }
    }
}
