.loginPage {
    align-items: center;
    background: linear-gradient(45deg, #eee, transparent, #ccc);
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    position: relative;

    > small {
        color: #aaa;
        position: absolute;
        bottom: 14px;
    }
}

.modal {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: var(--radius);
    box-shadow: #ccc 0 0 14px;
    flex-direction: column;
    gap: 21px;
    padding: 35px;

    > hr {
        margin-block: 14px;
    }

    > section {
        flex-direction: column;
        gap: 21px;
        width: 350px;

        > a {
            text-align: right;
        }
    }
}

.login {
    button {
        justify-content: center;
    }
}

.error {
    background-color: #ffe0e0;
    border: 1px solid #ff9e9e;
    border-radius: var(--radius);
    color: #ff3939;
    padding: 14px;
    text-align: center;
}

.signin {
    button {
        background-color: #eee;
        color: #333;
        justify-content: center;
    }
}

.separator {
    flex-grow: 1;
}
