.login {
    img {
        align-self: center;
        background-color: var(--primary-color);
        border: 2px solid var(--primary-color);
        border-radius: 50%;
    }

    button {
        justify-content: center;
    }

    a {
        margin-top: -10px;
    }
}

.error {
    background-color: #ffe0e0;
    border: 1px solid #ff9e9e;
    border-radius: var(--radius);
    color: #ff3939;
    font-size: 1em;
    padding: 14px;
    text-align: center;
}

.signin {
    button {
        background-color: #eee;
        color: #333;
        justify-content: center;
    }
}

.separator {
    flex-grow: 1;
}
