.fieldLayout {
    --content-border-color: var(--primary-color);
    --field-layout-height: 42px;
    --label-background: transparent;
    --label-color: #aaa;
    --label-font-size: 1em;
    --label-top: 50%;
    --side-border: 1px solid #ccc;

    flex-direction: column;
    font-size: 14px;
    gap: 4px;
    position: relative;

    &.focus {
        --label-color: var(--primary-color);
        --label-background: #fff;
    }

    &.focus,
    &.haveValue {
        --label-background: #fff;
        --label-color: var(--primary-color);
        --label-font-size: 0.8em;
        --label-top: -3px;
        --side-border: 1px solid var(--primary-color);

        .side {
            button {
                color: var(--primary-color);
            }
        }

        .input {
            > input,
            > select {
                &::placeholder {
                    color: #ccc;
                }
            }
        }
    }

    &.disabled {
        --label-background: #fff;

        cursor: not-allowed !important;

        .content {
            align-items: center;
            background-color: #eee;
            pointer-events: none;
        }
    }
}

.content {
    border-radius: var(--radius);
    flex-direction: row;
    min-height: var(--field-layout-height);
    outline: var(--side-border);
    transition: all 0.25s;

    &:hover {
        box-shadow: var(--primary-color) 0 0 7px;
    }
}

.input {
    flex-grow: 1;
    position: relative;

    > label {
        background-color: var(--label-background);
        border-radius: 4px;
        color: var(--label-color);
        font-size: var(--label-font-size);
        left: 12px;
        padding-inline: 2px;
        pointer-events: none;
        position: absolute;
        top: var(--label-top);
        transform: translateY(-50%);
        transition: all 0.25s;
    }

    > input,
    > select,
    > .fakeInput {
        background-color: transparent;
        border: none;
        border-radius: var(--radius);
        color: #444;
        flex-grow: 1;
        font-size: 1em;
        outline: transparent;
        padding: 10px 14px;

        &::placeholder {
            color: transparent;
            transition: all 0.25s;
        }
    }

    > select {
        margin-right: 14px;
    }
}

.error {
    color: #ff0000aa;
}

.side {
    transition: all 0.25s;

    > button {
        background-color: #f4f4f4;
        border-radius: 0;
        color: #aaa;
        padding: 14px;

        > i {
            font-size: 1em;
        }

        &:last-child {
            border-radius: 0 var(--radius) var(--radius) 0;
        }
    }
}

.leftSide {
    border-right: var(--side-border);
    border-radius: var(--radius) 0 0 var(--radius);
    overflow: hidden;
}

.rightSide {
    border-left: var(--side-border);
    border-radius: 0 var(--radius) var(--radius) 0;
    overflow: hidden;
}
