.fieldLayout {
    --field-layout-height: 42px;

    flex-direction: column;
    font-size: 14px;
    gap: 4px;
    position: relative;

    &.focus {
        .input {
            > label {
                color: var(--primary-color);
            }
        }

        .content {
            outline-color: var(--primary-color);
        }

        .side {
            border-color: var(--primary-color);

            button {
                color: var(--primary-color);
            }
        }
    }

    &.focus,
    &.haveValue {
        .input {
            > label {
                background-color: #fff;
                font-size: 0.8em;
                top: -3px;
            }

            > input,
            > select {
                &::placeholder {
                    color: #ccc;
                }
            }
        }
    }
}

.disabled {
    .content {
        background-color: #eee;
        pointer-events: none;

        .input {
            > label {
                background-color: transparent;
            }
        }
    }

    &.haveValue {
        .input {
            > label {
                background-color: #fff;
            }
        }
    }
}

.content {
    border-radius: var(--radius);
    flex-direction: row;
    height: var(--field-layout-height);
    outline: 1px solid var(--primary-color);
    transition: all 0.25s;

    &:hover {
        box-shadow: var(--primary-color) 0 0 7px;
    }
}

.input {
    flex-grow: 1;
    position: relative;

    > label {
        color: #aaa;
        font-size: 1em;
        left: 12px;
        padding-inline: 2px;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.25s;
    }

    > input,
    > select {
        background-color: transparent;
        border: none;
        border-radius: var(--radius);
        color: #444;
        flex-grow: 1;
        font-size: 1em;
        outline: transparent;
        padding: 10px 14px;

        &::placeholder {
            color: transparent;
            transition: all 0.25s;
        }
    }
}

.error {
    color: #ff0000aa;
}

.side {
    transition: all 0.25s;

    > button {
        background-color: #f4f4f4;
        border-radius: 0;
        color: #aaa;
        padding: 14px;

        > i {
            font-size: 1em;
        }

        &:last-child {
            border-radius: 0 var(--radius) var(--radius) 0;
        }
    }
}

.leftSide {
    border-right: 1px solid var(--primary-color);
    border-radius: var(--radius) 0 0 var(--radius);
    overflow: hidden;
}

.rightSide {
    border-left: 1px solid var(--primary-color);
    border-radius: 0 var(--radius) var(--radius) 0;
    overflow: hidden;
}
