.recoverPage {
    button {
        justify-content: center;
    }
}

.title {
    flex-direction: column;

    > small {
        color: #aaa;
    }
}

.returnToLogin {
    button {
        background-color: #eee;
        color: #333;
    }
}
