@import './mediaQueries.scss';

.componentButtonGroup {
    border: 1px solid var(--primary-color);
    border-radius: var(--radius);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    > button {
        border-radius: 0;
        flex-grow: 1;
        white-space: nowrap;
    }
}

@include tablet {
    .componentButtonGroup {
        flex-grow: 1;
        width: 100%;

        > button {
            flex-grow: 1;
        }
    }
}
