@font-face {
    font-family: 'Material Symbols Outlined';
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v161/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHeej.woff2)
        format('woff2');
}
@import './button.scss';
@import './buttonGroup.scss';
@import './bag.scss';
@import './icon.scss';
@import './calendar.scss';
@import './table.scss';
@import './picture.scss';
@import './path.scss';
@import './layout.scss';
@import './fieldLayout.scss';
@import './dateField.scss';
@import './pictureField.scss';
@import './selectField.scss';
@import './tagField.scss';
@import './barChart.scss';
@import './modal.scss';
@import './skeleton.scss';
@import './stepper.scss';
@import './headerTabsContent.scss';

@import './main.scss';
@import './navbar.scss';
@import '../app/page.scss';

 $primary-color: rgb(28, 154, 255);
 //$primary-color: rgb(255, 150, 51);
 //$primary-color: rgb(153, 56, 218);
 //$primary-color: rgb(17, 154, 12);

:root {
    --button-font-size: 16px;
    --component-button-height: 42px;
    --component-input-height: 50px;
    --component-table-row-height: 60px;
    --component-barChart-height: 30px;
    --layout-navbar-height: 64px;
    --layout-sidebar-height: 64px;
    --layout-content-center-width: 1360px;
    --error-color: rgb(255, 56, 56);

    --primary-color: rgba(
        #{red($primary-color)},
        #{green($primary-color)},
        #{blue($primary-color)},
        1
    );
    @for $i from 1 through 9 {
        --primary-color-#{$i}0: rgba(
            #{red($primary-color)},
            #{green($primary-color)},
            #{blue($primary-color)},
            #{'0.' + $i}
        );
    }
    --primary-color-5: rgba(
        #{red($primary-color)},
        #{green($primary-color)},
        #{blue($primary-color)},
        0.05
    );
    --radius: 7px;
}

* {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary-color) !important;
    text-decoration: none;
}