@import './mediaQueries.scss';

.componentMain {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    .componentMain__sidebar {
        align-items: center;
        background-color: var(--primary-color-5);
        display: flex;
        flex-direction: row;
        gap: 14px;
        height: var(--layout-sidebar-height);
        justify-content: center;
        max-height: var(--layout-sidebar-height);
        min-height: var(--layout-sidebar-height);
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .componentMain__centerSidebar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 14px;
        margin-left: 14px;
        margin-right: 14px;
        max-width: var(--layout-content-center-width);
        width: var(--layout-content-center-width);
    }

    .componentMain__main {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 21px;
        overflow: auto;
        padding: 14px 14px 300px;
        width: 100%;
        z-index: 10;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    @keyframes showContent {
        from {
            opacity: 0;
        }
    }

    .componentMain__centerMain {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 21px;
        max-width: var(--layout-content-center-width);
        position: relative;
        width: 100%;

        > div {
            animation: showContent 0.5s ease-in-out;
        }
    }
}

@include smallDesktop {
    .componentMain {
        .componentMain__sidebar {
            justify-content: flex-start;
        }

        .componentMain__main {
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
        }
    }
}
