@import './mediaQueries.scss';

.componentPictureField {
    align-self: flex-start;
    flex-grow: 0 !important;
    font-size: 17px;
    position: relative;
    transition: all 0.25s;

    &:hover {
        .componentPictureField__commands {
            opacity: 1;
        }
    }

    .componentPictureField__picture {
        border: 1px solid #ccc;
    }

    .componentPictureField__commands {
        backdrop-filter: blur(4px);
        bottom: 0;
        gap: 4px;
        height: calc(100% - 8px);
        left: 0;
        overflow: hidden;
        opacity: 0;
        margin: 4px;
        position: absolute;
        transition: all 0.25s;
        width: calc(100% - 8px);

        button {
            align-items: center;
            background-color: #3339;
            border-radius: 0;
            color: #fff;
            flex-grow: 1;
            height: 100%;
            justify-content: center;

            span {
                font-size: 30px;
            }
        }

        > div {
            flex-grow: 1;
            gap: 4px;
            height: 100%;
        }
    }

    &.circle {
        .componentPictureField__picture {
            border-radius: 50%;
        }

        .componentPictureField__commands {
            border-radius: 50%;
        }
    }

    &.rounded {
        .commands {
            border-radius: var(--radius);
        }

        &:hover {
            .componentPictureField__commands {
                border-radius: calc(var(--radius) - 2px);
            }
        }
    }
}

@include tablet {
    .componentPictureField {
        align-self: center;
        justify-content: center;
    }
}
