.componentSelectField {
    .componentSelectField__selectOptions {
        background-color: #fff;
        border-radius: var(--radius);
        box-shadow: #ccc 0 0 10px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        left: 0;
        max-height: 210px;
        outline: 1px solid #ccc;
        overflow: auto;
        padding: 7px;
        position: absolute;
        top: calc(100% + 8px);
        transition: all 0.25s;
        width: 100%;
        z-index: 21;

        &::-webkit-scrollbar {
            width: 0;
        }

        > h3 {
            display: none;
        }
    }

    .componentSelectField__option {
        align-items: center;
        border-radius: var(--radius);
        cursor: pointer;
        display: flex;
        flex-direction: row;
        min-height: 40px;
        overflow: hidden;
        padding: 7px;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            background-color: #f4f4f4;
        }
    }

    .componentSelectField__innerInput {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        font-size: inherit;
        outline: transparent;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
    }

    .componentSelectField__currentOption {
        background-color: #eee;
        pointer-events: none;
    }

    .componentSelectField__actionButton {
        color: #aaa;

        > div > span {
            font-weight: bolder;
            transition: none;
        }

        &:hover {
            background-color: #eee;
            color: #777;
        }
    }
}
