.componentStepper {
    background-color: #fff;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: 14px;

    > header {
        display: flex;
        flex-direction: column;
        gap: 4px;

        p {
            color: #ccc;
        }
    }

    > hr {
        background-color: #ccc;
        border: none;
        height: 1px;
    }

    > footer {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 14px;

        span {
            flex-grow: 1;
            text-align: center;
        }
    }

    .componentStepper__content {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 21px 0;
    }

    .componentStepper__allDots {
        align-items: center;
        justify-content: center;
    }

    .componentStepper__dot {
        background-color: #ddd;
        border-radius: 50%;
        cursor: pointer;
        height: 12px;
        transition: all 0.25s;
        width: 12px;
    }

    .componentStepper__currentDot {
        background-color: var(--primary-color);
    }
}
