.pageHeader {
    align-items: center;
    background-color: #1119;
    backdrop-filter: blur(14px);
    border-radius: var(--radius);
    flex-direction: row;
    gap: 14px;
    height: 70px;
    margin-bottom: 14px;
    padding: 14px 17px;
    position: sticky;
    top: 14px;
    left: 0;
    width: 100%;
    z-index: 10;

    h1 {
        color: #fff;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 14px;
        z-index: 2;
    }
}

.commands {
    flex-direction: row;
    gap: 14px;
    z-index: 2;
}
