.pageHeader {
    align-items: center;
    background-color: var(--primary-color);
    flex-direction: column;
    gap: 14px;
    height: 200px;
    justify-content: flex-end;
    min-height: 200px;
    overflow: hidden;
    padding: 14px;
    position: relative;
    transition: all 0.5s;
    z-index: 10;

    h1 {
        align-items: center;
        color: #fff;
        display: flex;
        flex-direction: row;
        font-size: 48px;
        gap: 14px;
        width: 100%;
        z-index: 2;
    }
}

.pictures {
    flex-direction: row;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &:before {
        background: linear-gradient(45deg, #000c, transparent);
        backdrop-filter: blur(4px);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    img {
        flex-grow: 1;
        object-fit: cover;
        width: calc(100% / var(--size));
    }
}

.description {
    flex-direction: row;
    gap: 14px;
    justify-content: flex-start;
    width: 100%;
    z-index: 2;
}

.commands {
    flex-direction: row;
    flex-grow: 1;
    gap: 14px;
    justify-content: flex-end;
    width: 100%;
    z-index: 2;
}
