.exerciseCard {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: var(--radius);
    flex-direction: column;
    gap: 14px;
    padding: 14px;
    width: 260px;
    position: relative;

    * {
        pointer-events: none;
    }

    > header {
        flex-direction: column;

        button {
            align-self: flex-start;
            background-color: transparent;
            color: var(--primary-color);
            height: auto;
            font-size: 1.1em;
            justify-items: flex-start;
            text-align: left;
            padding: 0;
            pointer-events: auto;

            * {
                pointer-events: auto;
            }
        }

        > small {
            color: #aaa;
        }
    }

    button {
        justify-content: center;
    }

    &:hover {
        .muscleGroupPicture {
            filter: grayscale(0);
        }
    }
}

.labels {
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.label {
    background-color: var(--primary-color);
    border-radius: var(--radius);
    color: #fff;
    font-size: 12px;
    padding: 4px 10px;
}

.commands {
    justify-content: flex-end;

    > button {
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
}
