.exerciseSelector {
    align-items: flex-start;
    align-self: flex-start;
    flex-direction: column;
    gap: 10px;
    max-height: 100%;
    right: 21px;
    position: sticky;
    pointer-events: none;
    top: 21px;
    z-index: 1;

    > button {
        pointer-events: auto;
    }
}

.cards {
    --space-between-cards: 14px;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-between-cards);
    right: 0;
    overflow: auto;
    padding: 21px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.card {
    align-items: center;
    border-radius: var(--radius);
    color: var(--primary-color);
    flex-direction: column;
    font-size: 0.8em;
    justify-content: center;
    position: relative;
    transition: all 0.25s;
    z-index: 2;

    > button {
        border-radius: 50%;
        font-size: 1.3em;
        height: 40px;
        justify-content: center;
        padding: 0;
        width: 40px;
    }

    &::after {
        background-color: var(--primary-color);
        content: '';
        height: var(--space-between-cards);
        left: calc(50% - 2px);
        position: absolute;
        top: 100%;
        width: 4px;
        z-index: 10;
    }

    &.noBottomBar {
        &::after {
            content: none;
        }
    }
}

.hover {
    outline: 2px solid var(--primary-color);
    scale: 1.1;
}

.finish {
    justify-content: center;
    pointer-events: none;
}
