.header {
    align-items: center;
    background-color: var(--primary-color-darker);
    color: #fff;
    flex-direction: row;
    gap: 14px;
    height: var(--header-height);
    padding: 0 21px;
    position: static;
    width: 100%;
    z-index: 1;

    > a {
        align-self: center;
        color: #fff;
        display: flex;
        flex-direction: row;
        font-size: 16px;
        gap: 7px;

        > i {
            font-size: 1.2em;
        }
    }

    > button {
        padding: 14px;
    }
}

.space {
    flex-grow: 1;
}

.status {
    border-radius: var(--radius) 0 0 0;
    bottom: 0;
    font-size: 1em;
    padding: 4px 10px;
    position: fixed;
    right: 0;
}

.userButton {
    background-color: transparent !important;
}

.statusMaintenance {
    background-color: #ff9933;
}

.statusOnline {
    background-color: var(--primary-color);
}

.statusOffline {
    background-color: red;
}
