.sidebar {
    --button-height: 52px;
    background-color: var(--primary-color);
    flex-direction: row;
}

.menu {
    background-color: #0002;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    transition: all 0.15s;
    z-index: 2;

    > hr {
        &:before {
            background-color: #fff3;
        }
    }

    > button {
        align-items: center;
        background-color: transparent;
        justify-content: center;
        padding: 0;
        width: var(--button-height);

        &:hover {
            backdrop-filter: blur(4px);
        }

        > span {
            background-color: transparent;
            position: absolute;
            height: 100%;
            width: 100%;
        }

        > div {
            transition: all 0.25s;
            white-space: nowrap;
        }

        &.currentOption {
            background-color: #fff3 !important;
        }
    }
}

.attention {
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    right: 14px;
    top: 14px;
    width: 10px;
}

.appLogo {
    pointer-events: none;
    width: var(--button-height);
}

.subMenu {
    flex-direction: column;
    gap: 10px;
    max-width: 280px;
    padding: 10px;
    transition: all 0.25s;
    width: 280px;
    z-index: 1;

    > button {
        --button-height: 40px;

        background-color: #fff3;
        white-space: nowrap;

        &[data-variant='secondary'] {
            background-color: #fff1;
            color: #fff;
        }

        &[data-variant='ghost'] {
            background-color: transparent;
            color: #fff;
        }
    }

    hr {
        &::before {
            background-color: #fff3;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #fff;
        margin-bottom: -4px;
        margin-top: 10px;
        white-space: nowrap;
    }
}

.appName {
    color: #fff;
    flex-direction: column;
    gap: 4px;
    height: var(--button-height);
    justify-content: center;
    margin-bottom: 28px;
    min-height: var(--button-height);

    h3 {
        color: inherit;
        white-space: nowrap;
    }

    small {
        white-space: nowrap;
    }
}

.grow {
    flex-grow: 1;
}

.hideOptionsContent {
    .subMenu {
        margin-left: -20px;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        width: 0;
    }
}
