.dragDrop {
    transition: opacity 0.25s;
}

.hover {
    opacity: 0.5 !important;
}

.onlyTarget {
    * {
        pointer-events: none;

        &.dragDrop {
            pointer-events: auto;
        }
    }
}
