.layout {
    flex-direction: row;
    height: 100%;

    > section {
        background-color: #eee;
        flex-direction: row;
        flex-grow: 1;

        > div {
            flex-grow: 1;
            gap: 14px;
            overflow: auto;
            padding: 0 14px 14px;
        }
    }
}
